/* global.css ou app.css:
// - Use para estilos globais do projeto (reset, fontes, body, html, etc).
// - Ideal para coisas que se aplicam a **todas as páginas**.
// - Ex: fontes, background padrão, scroll personalizado, etc.
// - Normalmente importado uma vez no topo do app (ex: _app.js no Next.js).
// - NÃO deve conter estilos de componentes específicos (isso é do module.css).
*/

:root {
    --background-color: #bbb;
}

* { box-sizing: border-box; } 


/* Estilos globais para centralizar o conteúdo */
 body, html {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
} 

form {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
}